 @charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
}
.d0{
	width:100%;
	height:100%;
	margin:auto;
}
#logos{
	width:100%;
	height:100px;
	background: url(img/logos.jpg) repeat-x;
}
.logo{
	position: relative;
	height: 100px;
	background: url(img/logo.jpg) no-repeat;
	left:0px;
	top:0px;
	width: 485px;
	float: left;
}
.nav{
	position: absolute;
	height:470px;
	width: 300px;
	left:0px;
	top:100px;
}
.nav li{
	list-style:none;
	text-align:center;
}
.nav a{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	line-height:51px;
	display:block;
}
.nav ul li{
	width:300px;
	float:left;
	border:1px #FFF solid;
	background:#1db7fe;
}

.nav ul li ul{
	display:none;
}
.nav ul li a:hover{
	color:#000;
	background-color:#3FF;
}
.nav ul li:hover ul,.nav ul li a:hover ul{
	display: block;
	width:300px;
	height:38px;
}
.nav ul li ul li{
	background-color:#6FF;
	width:300px;
}
.nav ul ul li a:hover{
	background:#60F;
	color:#FFF;
}
.g1{
	position: relative;
	left:450px;
	top:-85px;
	height: 59px;
	width: 79px;
	padding-top:9px;
}
.g1 a{
	font-size:12px;
	padding:15px;
	text-decoration:none;
}
.g2{
	position:relative;
	left:250px;
	top:-170px;
	height:92px;
	width: 252px;
	text-align:center;
	text-shadow:2px 2px 5px #000;
	font-family:"黑体";
	color: #FFF;
	padding-top:1%;
	letter-spacing:15px;
	line-height:40px;
}
.tab{
	position: absolute;
	left:315px;
	top: 100px;
	height:475px;
	width:1020px;
	background: #333;
}
/*
.d3{
	position: absolute;
	left:1035px;
	top:100px;
	height:360px;
	width:315px;
	background:#1db7fe;
	color:#FFF;
}
#d31{
	height:140px;
	padding:20px;
}
#d32{
	height:140px;
	padding:20px;
}
.d3 a{
	color: #006;
	text-decoration:none;
}
.mm1{
	text-align:center;
	color: #06F;
	margin-top:20px;
	border-top:2px solid #FFF;
}
td{
	background:#FFF;
}
*/
.d4{
	position: absolute;
	left: 0px;
	top: 585px;
	width: 100%;
	height: 523px;
	background: #70DDE0;
}
.n1{
	position: relative;
	height:240px;
	width:400px;
	left:-215px;
	top:10px;
	background:#FFF;
	border:1px solid #999;
}
h2{
	border-bottom:3px solid #333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:28px;
	padding-left:35px;
}
.n1 li{
	line-height:32px;
	font-family:"黑体";
	border-bottom:1px dotted #999;
	overflow:hidden;
}
.n1 li a{
	color:#000;
	padding-left:30px;
	text-decoration:none;
}
.n2{
	position: relative;
	height:240px;
	width:400px;
	left:215px;
	top:-232px;
	border:1px solid #999;
	background:url(img/5fu.jpg) center;
}
.n3{
	position: relative;
	height: 240px;
	width: 400px;
	left: -215px;
	top: -215px;
	border: 1px solid #999;
	background: #000;
	color: #fff;
	background-color: #999999;
}
.n4{
	position: relative;
	height:240px;
	width:400px;
	left:215px;
	top:-457px;
	background:#FFF;
	border:1px solid #999;
}
.n4 li{
	line-height:32px;
	font-family:"黑体";
	text-align:center;
	border-bottom:1px dotted #999;
	overflow:hidden;
}
.n4 li a{
	color:#000; 
	text-decoration:none;
}
.d5{
	position: absolute;
	top:1115px;
	width:100%;
	height:30px;
	left:0px;
	background:#82eafe;
	text-align:center;
	font-size:14px;
	font-family:"黑体";
	padding-top:15px;
}
.d5 a{
	
	text-decoration: none;
}
.d6{
	position: absolute;
	top:1160px;
	height:95px;
	width:100%;
	left:0px;
	background:#1db7fe;
	color:#FFF;
	text-align:center;
	font-family:"黑体";
	font-size:14px;
	border-top:25px #1db7fe solid;
}
/*  
  <img src="img/1.jpg" width="770" height="360" style="display: block;" />
  <img src="img/2.jpg" width="770" height="360" style="display: none;"/> 
  <img src="img/3.jpg" width="770" height="360" style="display: none;"/> 
  <img src="img/4.jpg" width="770" height="360" style="display: none;"/>
  <img src="img/5.jpg" width="770" height="360" style="display: none;"/>
  <div class="d3">
  <div id="d31">
    <h3>》教学管理</h3>
    <table width="265" height="105" border="0" cellpadding="0" cellspacing="13" class="mm1">
  <tr>
    <td><a href="#">通知公告</a></td>
    <td><a href="#">教务动态</a></td>
  </tr>
  <tr>
    <td><a href="#">教学资源</a></td>
    <td><a href="#">教学教研</a></td>
  </tr>
</table>

  </div>
  <div id="d32">
    <h3>》学生管理</h3>
    <table width="265" height="105" border="0" cellpadding="0" cellspacing="13" class="mm1">
  <tr>
    <td><a href="#">学生管理</a></td>
    <td><a href="#">第二课堂</a></td>
  </tr>
  <tr>
    <td><a href="#">校园文化</a></td>
    <td><a href="#">党团建设</a></td>
  </tr>
</table>
  </div>
</div>
*/
